.introduction {
  margin-top: 60px;

  &--image {
    margin: 0 0 21px 23px;
    width: 195px;
    height: 195px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 72px;

    &--image {
      width: 257px;
      height: 257px;
    }
  }
}
