.partners {
  margin: 75px auto;

  h2 {
    margin-bottom: 32px;
  }

  &__list {
    margin: 0 auto;
    max-width: 290px;
    border: 1px solid color(gray, gray-border);

    &-item {
      position: relative;
      height: 290px;

      a {
        display: block;
        height: 100%;
        width: 100%;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(2) {
        border-top: 1px solid color(gray, gray-border);
        border-bottom: 1px solid color(gray, gray-border);
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .partners {
    margin: 70px auto 80px;
    &__list {
      max-width: 100%;
      border: 1px solid color(gray, gray-border);

      &-item {
        position: relative;
        display: inline-block;
        height: 162px;
        width: 33%;

        &:nth-child(2) {
          width: calc(33% - 2px);
          border: none;
          border-left: 1px solid color(gray, gray-border);
          border-right: 1px solid color(gray, gray-border);
        }
      }
    }
  }
}
