$colors: (
    white: (
        white-primary: #ffffff
    ),
    gray: (
        gray-primary: #414141,
        gray-background: #2D333D,
        gray-border: #CACCCE,
        gray-input-bg: #252628,
        gray-input-border: #020203
    ),
    blue: (
        blue-primary: #0093D8,
        blue-secondary: #007BB5
    )
);