$colors: (
  white: (
    white-primary: #ffffff,
  ),
  gray: (
    gray-primary: #414141,
    gray-background: #2d333d,
    gray-border: #caccce,
    gray-input-bg: #252628,
    gray-input-border: #020203,
  ),
  blue: (
    blue-primary: #0093d8,
    blue-secondary: #007bb5,
  ),
);
