$colors: (
    white: (
        white-primary: #ffffff
    ),
    gray: (
        gray-primary: #414141,
        gray-background: #2D333D,
        gray-border: #CACCCE
    ),
    blue: (
        blue-primary: #0093D8,
        blue-secondary: #007BB5
    )
);